/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Site's CSS begins */

body, html{
    font-family: 'Fira Sans', sans-serif;
}

/* global settings */
body{
    padding: 0 8%;
    overflow-x: hidden;
}

/* Main header */
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0;
}

.site-header .logo{
    display: flex;
    align-items: center;
}

.site-header .logo--text{
    font-weight: 600
}

.site-header .links-container{
   
}

.links-container{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.links-container .links{
    flex-flow: row;
    
}


/* heading */

.heading{
    text-transform: unset;
    font-size: 3em;
    margin: .5em 2em 1em 2em;
    text-shadow: 2px 2px 3px #dadada;
    /* border-bottom: 2px solid lightblue; */
    padding-bottom: 1em;
    color: #0b0b0b;
    font-weight: 600;
}

@media only screen and (max-width:767px)
{
    .heading{
        font-size: 2em;
    }
}
.heading--small{
    font-size:1.25em;
    border: 0;
}

.heading--center{
    text-align: center;
}

.flex{
    display: flex;
}

.fc-align-start{
    align-items: flex-start;
}

.fc-align-end{
    align-items: flex-end;
}


/* profile pic */
.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* margin-top: 4em; */
}
.profile-pic img{
    width: 100px;
    height: 100px;
    border-radius: 50%
}

/* skill chart */

.skill-chart{
    width: 50%;
    margin: 0 auto;
    /* border:1px solid lightgray; */
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
}

@media only screen and (max-width: 767px){
    .skill-chart{
        width:95%
    }
}

.skill-chart ul{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 35vh;
}

.skill-chart li{
    flex-flow: row;
    position: relative;
    width: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.skill-chart li span{
    position: absolute;
    bottom: 0;
}

.skill-chart li::after{
    content:'';
    position: absolute;
    bottom: 4vh;
    left: 0
}

.skill-html::after,
.skill-css::after,
.skill-js::after,
.skill-ux::after{
    width: 100%;
    background: #4faac8;
    border-radius: 7px;
}

.skill-html::after{height: 36vh}
.skill-css::after{height: 36vh}
.skill-js::after{height: 25vh}
.skill-ux::after{height: 30vh}


.skill-chart tspan,
.skill-chart text{
    font-family: 'Fira Sans', sans-serif !important;
}

/* Segg-cross */
.segg-cross{
    height: 71vh;
    /* background: url('../../images/seg-bg.jpg')center/cover no-repeat lightblue; */
    background:  lightblue;
    width: 120vw;
    position: absolute;
    top: -10%;
    left: -5%;
    transform: rotate(
5deg
);
    z-index: -1;
}


/* Header - Social profile */

.links--social{
    background-image: url(../../images/link.png);
    padding-left: 25px;
    background-position: 9px 2px;
    background-repeat: no-repeat;
    background-size: 13px;
}