/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Site's CSS begins */

body, html{
    font-family: 'Fira Sans', sans-serif;
}

/* global settings */
body{
    padding: 0 8%
}

/* Main header */
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0;
}

.site-header .logo{
    display: flex;
    align-items: center;
}

.site-header .logo--text{
    font-weight: 600
}

.site-header .links-container{
   
}

.links-container{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.links-container .links{
    flex-flow: row;
    
}


/* heading */

.heading{
    text-transform: unset;
    font-size: 3em;
    margin: .5em 2em 2em 2em;
    text-shadow: 2px 2px 3px #dadada;
    border-bottom: 2px solid lightblue;
    padding-bottom: 1em;
    color: #52bae4;
    font-weight: 600;
}

.heading--center{
    text-align: center;
}

.flex{
    display: flex;
}

.fc-align-start{
    align-items: flex-start;
}

.fc-align-end{
    align-items: flex-end;
}


/* profile pic */
.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}
.profile-pic img{
    width: 100px;
    height: 100px;
}

/* skill chart */

.skill-chart{
    width: 75%;
    margin: 0 auto;
    
}

.skill-chart tspan{
    font-family: 'Fira Sans', sans-serif;
}
